<!-- // blog.create({
// 	title: "Test of ethiopia", 
// 	image: "https://www.ethiopianairlines.com/Cms_Data/Contents/EthiopianAirlines/Media/FlyEthiopian/Destinations/johannesburg.jpg", 
// 	body: "This is Addis Ababa, the capital city of Ethiopia"
// }) -->


</body>
</html>